<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <a href="/valueplus/list">리스팅 페이지로</a>
        <% if current_user%>
            <a href="/valueplus/myAssembly/<%=current_user.id%>">올린집회 확인</a>
        <% end %>    
        <br>
        **카라우셀
        <% @carousel.each do |p| %>
        <p><%= p.title %></p>
        <% end %>
        **정치
        <% @politic.each do |p| %>
        <p><%= p.title %></p>
        <% end %>
        **사회
        <% @society.each do |p| %>
        <p><%= p.title %></p>
        <% end %>
        **교육
        <% @education.each do |p| %>
        <p><%= p.title %></p>
        <% end %>
    </body>
</html>