<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form action= '/valueplus/sort' method='post'>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="radio" name="sort" value="like">추천순<br>
            <input type="radio" name="sort" value="recent">최신순<br>
            <button type ='submit'>submit</button>
        </form>
        <form action= '/valueplus/field' method='post'>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="radio" name="field" value="politic">정치<br>
            <input type="radio" name="field" value="society">사회일반<br>
            <input type="radio" name="field" value="education">교육<br>
            <input type="radio" name="field" value="foodMedi">식품/의료<br>
            <input type="radio" name="field" value="press">언론<br>
            <input type="radio" name="field" value="environment">환경<br>
            <input type="radio" name="field" value="right">인권/복지<br>
            <input type="radio" name="field" value="female">여성<br>
            <button type ='submit'>submit</button>
        </form>
        <form action= '/valueplus/sido' method='post'>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="radio" name="sido" value="seoul">서울<br>
            <input type="radio" name="sido" value="incheon">인천<br>
            <input type="radio" name="sido" value="gyeonggi">경기<br>
            <input type="radio" name="sido" value="busan">부산<br>
            <input type="radio" name="sido" value="gangwon">강원<br>
            <input type="radio" name="sido" value="chungbuk">충북<br>
            <input type="radio" name="sido" value="sejong">세종<br>
            <input type="radio" name="sido" value="chungnam">충남<br>
            <input type="radio" name="sido" value="daejun">대전<br>
            <input type="radio" name="sido" value="gyeongbuk">경북<br>
            <input type="radio" name="sido" value="daegu">대구<br>
            <input type="radio" name="sido" value="ulsan">울산<br>
            <input type="radio" name="sido" value="gyeongnam">경남<br>
            <input type="radio" name="sido" value="junbuk">전북<br>
            <input type="radio" name="sido" value="junnam">전남<br>
            <input type="radio" name="sido" value="gwuangju">광주<br>
            <input type="radio" name="sido" value="jeju">제주<br>
            <button type ='submit'>submit</button>
        </form>
        <% @assembly.each do |a|%>
            <p>
                <% remain = a.calendar - Date.today %>
                <h3><a href="/valueplus/show/<%=a.id%>"><%= a.title%></a>
                    <% if remain == 0 %>
                        (오늘)</h3>
                    <% else %>
                        (<%= remain.to_i%>일 남음)</h3>
                    <% end %>
            </p>
            <p>썸네일 :<%=a.thumnail.url%></p>
            <p>분야 : <%= a.category%></p>
            <p>내용 : <%=a.content%></p>
            <p>목적 : <%=a.purpose%></p>
            <p>날짜 :<%=a.calendar%></p>
            <p>후원 마감 : <%=a.donateDeadline%></p>
            <p>후원 목표 :<%=a.donateGoal%></p>
            <p><a href ="/valueplus/donate_view/<%= a.id %>">후원하러 가기</a></p>
            <strong>Like:</strong>
            <p>
                <%=a.likes.size%>명이 좋아합니다!
                <% if current_user.is_like? (a) %>
                    <form action='/assembly/<%= a.id%>/like' method='post'>
                        <button> 좋아요 취소 </button>  
                    </form>
                <% else %>
                    <form action='/assembly/<%= a.id%>/like' method='post'>
                        <button> 좋아요</button>  
                    </form>
                <% end %>
            </p>
            <strong>Scrap:</strong>
            <p>
                <% if current_user.is_scrap? (a) %>
                    <form action='/assembly/<%= a.id%>/scrap' method='post'>
                    <button> 스크랩 취소 </button>  
                    </form>
                <% else %>
                    <form action='/assembly/<%= a.id%>/scrap' method='post'>
                        <button> 스크랩 </button>  
                    </form>
                <% end %>
            </p>
        <% end %> 
    </body>
</html>