<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=&libraries=services"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    
    <body>
      <div class="container">
        <!-- AssemblyTitle 집회 타이틀 -->
        <div class="AssemblyTitle">
            <br><br>
            <div class="center">
                <button class="btn waves-light teal"><%= @assemblyCategory%></button>
                <h2><%= @assembly.title%></h2>
                <h5><%= @assembly.host.name %></h5>
            </div>
            <div class='row' style="margin:0 auto;">
                <div class="col s6" style="text-align:right">
                    <strong>Like:</strong>
                    <%=@assembly.likes.size%>
                    <% if current_user.is_like? (@assembly) %>
                        <form action='/assembly/<%= @assembly.id%>/like' method='post'>
                            <button class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">favorite</i></button>  
                        </form>
                    <% else %>
                        <form action='/assembly/<%= @assembly.id%>/like' method='post'>
                            <button class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">favortie</i></button>  
                        </form>
                    <% end %>
                </div>
                <div class="col s6" style="text-align:left">
                    <strong>Scrap:</strong>
                    <%=@assembly.scraps.size%>
                    <% if current_user.is_scrap? (@assembly) %>
                        <form action='/assembly/<%= @assembly.id%>/scrap' method='post'>
                            <button class="btn-floating btn-small btn-red waves-effect waves-light yellow"><i class="material-icons">grade</i></button> 
                        </form>
                    <% else %>
                        <form action='/assembly/<%= @assembly.id%>/scrap' method='post'>
                            <button class="btn-floating btn-small waves-effect waves-light yellow"><i class="material-icons">grade</i></button> 
                        </form>
                    <% end %>
                </div>
            </div>
        </div>
        <br><br>

        <!--AssemblyIntroduction 시위 소개-->
        <div class="AssemblyContent row">
            <div class="col s8 left">
                <!--아래 이미지 디스플레이 하는 코드는 백에서 완성된 후 다시 삽입할 예정-->
                <img src="" style="width:800px; height:500px;">
            </div>
            <div class="col s4 right">
                <p>날짜<h5><%= @assembly.calendar%></h5></p>
                <p>위치<h5><%= @assembly.roadAddress %></h5></p>
                <p>후원 마감<h5><%= @assembly.donateDeadline %></h5></p>
                <p>후원 목표<h5><%= @assembly.donateGoal %></h5></p>
                <p>현재까지 후원 금액<h5><%= @donateMoney %></h5></p>
                <a href ="/valueplus/donate_view/<%= @assembly.id %>" class="col s12 btn-large rounded">후원하러 가기</a>
            </div>
        </div>
        <br><br>
        
        <!--AssemblyContent 시위 설명 및 주최자 정보 및 위치지도-->
        <div class="AssemblyContent row">
            <div class="col s8 left">
                <div class="card-image center"><img src="" style="width:800px; height:1000px;"></div>
                <div><br><br>
                    <h5><b>시위 목적</b></h5><%= @assembly.purpose%><br><br>
                    <h5><b>시위 날짜</b></h5><%= @assembly.calendar%><br><br>
                    <h5><b>시위 위치</b></h5><%= @assembly.roadAddress %><br><br>
                    <h5><b>시위 내용</b></h5><%= @assembly.content%><br><br>
                </div>
            </div>
            <div class="col s4 right">
                <div class="card-panel grey lighten-5 z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s4">
                      <img src="images/yuna.jpg" alt="" class="circle responsive-img"> 
                    </div>
                    <div class="col s8">
                        <span class="black-text">
                          <h5><%= @assembly.host.name %></h5>
                          <strong><%= @assembly.host.email %></strong>
                        </span>
                    </div>
                  </div>
                  <div ><%= @assembly.host.intro %></div>
                </div>
              </div>
            </div>
        </div>        
        <br><br>
    
        <!--AssemblyMap 지도-->
        <div id="map" style="width:100%; height:400px;" ></div>
        
        <div>
            <% if current_user.admin== true %> 
              <승인 여부 결정하기> 
              <p><a href="/valueplus/check_yes/<%= @assembly.id %>">검토승인</p> 
              <p><a href="/valueplus/check_no/<%= @assembly.id %>">검토거부</p> 
          <% end %> 
        </div>
    </body>
    
    <script>
            var fullAddress = "<%= @assembly.roadAddress %>";
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = {
                    center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };  
            // 지도를 생성합니다    
            var map = new daum.maps.Map(mapContainer, mapOption); 
            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new daum.maps.services.Geocoder();
            // 주소로 좌표를 검색합니다
            geocoder.addressSearch(fullAddress, function(result, status) {
                // 정상적으로 검색이 완료됐으면 
                 if (status === daum.maps.services.Status.OK) {
                    var coords = new daum.maps.LatLng(result[0].y, result[0].x);
                    // 결과값으로 받은 위치를 마커로 표시합니다
                    var marker = new daum.maps.Marker({
                        map: map,
                        position: coords
                    });
                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                    map.setCenter(coords);
                } 
            });    
    </script>
</html>