<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=&libraries=services"></script>
</head>
    <body>
        <h2>제목 :<%= @assembly.title%></h2>
        <p>분야 : <%= @assemblyCategory%></p>
        <p>목적 :<%= @assembly.purpose%></p>
        <p>내용 : <%= @assembly.content%></p>
        <p>날짜 :<%= @assembly.calendar%></p>
        <p>장소 :<%= @assembly.roadAddress %></p>
        <div id="map" style="width:350px;height:350px;"></div>
        <p>
            <p>주최자 이름 :<%= @assembly.host.name %></p>
            <p>주최자 이메일 :<%= @assembly.host.email %></p>
            <p>주최자 소개 :<%= @assembly.host.intro %></p>
        </p>
        <strong>Like:</strong>
        <p>
            <%=@assembly.likes.size%>명이 좋아합니다!
            <% if current_user.is_like? (@assembly) %>
                <form action='/assembly/<%= @assembly.id%>/like' method='post'>
                    <button> 좋아요 취소 </button>  
                </form>
            <% else %>
                <form action='/assembly/<%= @assembly.id%>/like' method='post'>
                    <button> 좋아요</button>  
                </form>
            <% end %>
        </p>
        <strong>Scrap:</strong>
        <p>
            <% if current_user.is_scrap? (@assembly) %>
                <form action='/assembly/<%= @assembly.id%>/scrap' method='post'>
                <button> 스크랩 취소 </button>  
                </form>
            <% else %>
                <form action='/assembly/<%= @assembly.id%>/scrap' method='post'>
                    <button> 스크랩 </button>  
                </form>
            <% end %>
        </p>
        <p><a href ="/valueplus/donate_view/<%= @assembly.id %>">후원하러 가기</a></p>
        <p><a href="/valueplus/edit/<%= @assembly.id %>">수정</a></p>
        <p><a href="/valueplus/destroy/<%= @assembly.id %>">삭제</a></p>
    </body>
    <script>
        var fullAddress = "<%= @assembly.roadAddress %>";
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };  
        // 지도를 생성합니다    
        var map = new daum.maps.Map(mapContainer, mapOption); 
        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new daum.maps.services.Geocoder();
        // 주소로 좌표를 검색합니다
        geocoder.addressSearch(fullAddress, function(result, status) {
            // 정상적으로 검색이 완료됐으면 
             if (status === daum.maps.services.Status.OK) {
                var coords = new daum.maps.LatLng(result[0].y, result[0].x);
                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new daum.maps.Marker({
                    map: map,
                    position: coords
                });
                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            } 
        });    
    </script>
</html>